/* Universal Elements */

h4 {
    padding-top: 10px;
}

/* Element Classes */

.weather-stats {
    border: 1px solid #D7D0D2;
    margin-left: 33.3%;
    border-radius: 2px;
    width: 50%;
}

.forecast {
    margin-left: 33.3%;
}

/* Element IDs */

#search-bar{
border: 1px solid #D7D0D2;
float: left;
border-radius: 10px;
}
